<a href="https://colab.research.google.com/github/Adriandzidan/Tugas-Pak-Prayit-ALPRO-/blob/main/Jobsheet02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**HASIL PRAKTIKUM**

**1.Pengenalan Variabel & Tipe Data**

In [ ]:
from os import name
# interger
umur = 25
print ("umur:", umur, "→", type(umur))

# FLoat
tinggi = 168
print ("tinggi:", tinggi, "→", type(tinggi))


# string
nama = "Jumbo"
print ("nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# list
nilai = [120, 30, 50]
print("Nilai:", nilai, "→", type(nilai))

# tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# dictionary
mahasiswa = {"nama": "Jumbo", "umur": 25, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# set
hobi = {"futsal", "badminton", "musik"}
print("Hobi:", hobi, "→", type(hobi))

umur: 25 → <class 'int'>
tinggi: 168 → <class 'int'>
nama: Jumbo → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [120, 30, 50] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Jumbo', 'umur': 25, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'badminton', 'futsal', 'musik'} → <class 'set'>

**2.Input dan Output Dasar (variasi format)**

In [ ]:
# input string
nama = input("masukkan nama anda: ")

# input integer
umur = int(input("masukkan umur anda: "))

#input float
tinggi = float (input("masukkan tinggi badan(cm): "))

# output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur,
tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

masukkan nama anda: jidun
masukkan umur anda: 20
masukkan tinggi badan(cm): 168
Halo, jidun umur Anda: 20 tahun, tinggi: 168.0 cm
Halo jidun, umur Anda 20 tahun, tinggi 168.0 cm
Halo jidun, umur Anda 20 tahun, tinggi 168.0 cm

**3.Operator Aritmatika**

In [ ]:
a = 25
b = 7

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 32
a - b = 18
a * b = 175
a / b = 3.5714285714285716
a // b = 3
a % b = 4
a ** b = 6103515625

**4.Operator Relasional**

In [ ]:
x = 30
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : False
x > y : True
x <= y : False
x >= y : True

**5.Operator Logika (dasar + studi kasus kelulusan)**

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 65
lulus_hadir = hadir >= 11 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 67
Masukkan jumlah kehadiran: 10
Status: TIDAK LULUS

**6.Program Kasir Sederhana**

In [ ]:
barang = input("Masukkan nama barang: ")
harga = int(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang yang dibeli: "))

total = harga * jumlah

# aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: bearbraand
Masukkan harga barang: 500000
Masukkan jumlah barang yang dibeli: 1

===== Struk Belanja =====
Barang : bearbraand
Jumlah : 1
Total : Rp 500000
Diskon : 20.0%
Bayar : Rp 400000.0

# **PENUGASAN**

**1. Identitas Mahasiswa**

In [ ]:
# string
nama = "Dumbo"
print ("nama:", nama, "→", type(nama))

# integer
umur = 18
print("umur:", umur, "→", type(umur))

# float
tinggi = 150
print("tinggi:", tinggi, "→", type(tinggi))

# boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

nama: Dumbo → <class 'str'>
umur: 18 → <class 'int'>
tinggi: 150 → <class 'int'>
Status Mahasiswa: True → <class 'bool'>

**2.Operasi Aritmatika**

In [ ]:
a = 9
b = 9

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 18
a - b = 0
a * b = 81
a / b = 1.0
a % b = 0
a ** b = 387420489

**3. Konversi Nilai**

In [ ]:
angka = float(input("masukkan sebuah angka desimal: "))

print("\n===== hasil konversi nilai =====")
print("dalam bentuk iteger:", int(angka))
print("dalam bentuk string:", str(angka))
print("hasil pembulatan 2 digit dibelakang koma:", round(angka, 2))

masukkan sebuah angka desimal: 1

===== hasil konversi nilai =====
dalam bentuk iteger: 1
dalam bentuk string: 1.0
hasil pembulatan 2 digit dibelakang koma: 1.0

**4.Operator Relasional**

In [ ]:
x = 15
y = 14

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : False
x > y : True
x <= y : False
x >= y : True