<a href="https://colab.research.google.com/github/Adriandzidan/Tugas-Pak-Prayit-ALPRO-/blob/main/Jobsheet04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM**

**1. For dengan Range**

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

**2. While (Hitung
Mundur)**

In [ ]:
n = int(input("masukkan angka: "))
while n > 0:
  print(n)
  n -= 5

masukkan angka: 30
30
25
20
15
10
5

**3. Nested Loop (Segitiga Bintang)**

In [ ]:
for i in range (1, 5):
  for j in range (i):
    print ("*", end="")
  print()

*
**
***
****

**4.1 Break**

In [ ]:
for i in range (1,10 ):
  if i == 9  :
    print("Angka 9 ditemukan")
    break

Angka 9 ditemukan

**4.2 Continue**

In [ ]:
for i in range (1, 5):
  if i % 2 == 1:
    continue
  print(i)

2
4

**5. For pada dictionary**

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}
for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

**6. For dengan Enumerate**

In [ ]:
daftar = ("andi", "budi", "cici")
for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 andi
2 budi
3 cici

**7.Program Kasir Multi-Item**

In [ ]:
total = 0

while True:
  barang = input("masukkan nama barang(ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

masukkan nama barang(ketik 'selesai' untuk berhenti): buku
Masukkan harga buku: 50000
Masukkan jumlah buku: 2
masukkan nama barang(ketik 'selesai' untuk berhenti): pulpen
Masukkan harga pulpen: 5000
Masukkan jumlah pulpen: 3
masukkan nama barang(ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# **PENUGASAN**

**1. Menampilkan deret angka**

In [ ]:
for i in range (3, 30):
 step = 3
 if i % step == 0:
  print(i)

3
6
9
12
15
18
21
24
27

**2.Hitung faktorial**

In [ ]:
n = int(input("Masukkan bilangan bulat positif: "))
faktorial = 1
if n < 0:
  print("Faktorial tidak terdefinisi untuk bilangan negatif")
elif n == 0:
  print("Faktorial dari 0 adalah 1")
else:
  i = 1
  while i <= n:
    faktorial *= i
    i += 1
  print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan bulat positif: 5
Faktorial dari 5 adalah 120

**3. Pola segitiga terbalik**

In [ ]:
tinggi = int(input("Masukkan tinggi segitiga: "))

for i in range(tinggi, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

Masukkan tinggi segitiga: 5
*****
****
***
**
*

**4.Cari Bilangan Prima dengan Break**

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
      break # Break here as soon as a divisor is found
  return True

print("Bilangan prima antara 1 dan 50:")
for num in range(1, 51):
  if is_prime(num):
    print(num)

**5. Tampilkan Hanya Bilangan Genap dengan Continue**

In [3]:
for i in range(1, 21):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

**6.Iterasi Dictionary Mahasiswa**

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}
for k, v in data.items():
    print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

**7.Enumerate Daftar Barang**

In [ ]:
Barang = ("Buku", "Pulpen", "Tas")
for i, nama in enumerate(Barang, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

**8.Studi Kasus â€“ Kasir Diskon**

In [ ]:
total = 0
diskon_total = 0

while True:
  barang = input("masukkan nama barang(ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

  diskon_item = 0
  if subtotal >= 200000:
    diskon_item = subtotal * 0.1
  diskon_total += diskon_item


print("\n===== Struk Belanja =====")
print(f"Total Belanja sebelum diskon: Rp {total}")
print(f"Total Diskon: Rp {diskon_total}")
print(f"Total Bayar: Rp {total - diskon_total}")

masukkan nama barang(ketik 'selesai' untuk berhenti): lele dumbo
Masukkan harga lele dumbo: 1234567
Masukkan jumlah lele dumbo: 1
masukkan nama barang(ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja sebelum diskon: Rp 1234567.0
Total Diskon: Rp 123456.70000000001
Total Bayar: Rp 1111110.3