<a href="https://colab.research.google.com/github/Adriandzidan/Tugas-Pak-Prayit-ALPRO-/blob/main/Jobsheet07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HASIL PRAKTIKUM**

**Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah**

In [ ]:
  kordinat = (7.05, 110.44)
  print("lintang: ", kordinat[0])
  print("bujur: ", kordinat[1])

lintang:  7.05
bujur:  110.44

**Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa**

In [ ]:
mahasiswa = {
    "NIM" : "20251001",
    "nama" : "andi",
    "prodi" : "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("nama: ", mahasiswa["nama"])
print("prodi: ", mahasiswa["prodi"])

NIM:  20251001
nama:  andi
prodi:  TRK

**Praktikum 03 – Operasi pada Dictionary**

In [ ]:
mahasiswa = {
    "NIM" : "20251001",
    "nama" : "andi",
    "prodi" : "TRK"
}

mahasiswa["umur"] = 20
mahasiswa ["prodi"] = "teknik komputer"
del mahasiswa["umur"]

print(mahasiswa)

{'NIM': '20251001', 'nama': 'andi', 'prodi': 'teknik komputer'}

**Praktikum 04 – Set dan Operasi Himpunan**

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("unuion",  A | B)
print("intersection:", A & B)
print("diffrence", A - B)

unuion {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
diffrence {1, 2}

**Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah**

In [ ]:
mhs1 = ("algoritma", "matematika", "bahasa inggris")
mhs2 = ("algoritma", "basis data", "bahasa inggris")

print("mata kuliah mhs1: ", mhs1)
print("mata kuliah mhs2: ", mhs2)
print("mata kuliah yang sama:", set(mhs1) & set(mhs2))

mata kuliah mhs1:  ('algoritma', 'matematika', 'bahasa inggris')
mata kuliah mhs2:  ('algoritma', 'basis data', 'bahasa inggris')
mata kuliah yang sama: {'algoritma', 'bahasa inggris'}

**Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa**

In [ ]:
nilai_mahasiswa = {
    "andi" : 80,
    "budi" : 75,
    "cici" : 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"rata-rata nilai: {rata:.2f}")

andi: 80
budi: 75
cici: 90
rata-rata nilai: 81.67

# **PENUGASAN**

1.	**Tuple Sederhana**

In [ ]:
mahasiswa = ("Dumbo", 21, "Teknologi Rekayasa Komputer")

print("Nama:", mahasiswa[0])
print("Umur:", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama: Dumbo
Umur: 21
Prodi: Teknologi Rekayasa Komputer

2.	**Tuple Tidak Bisa Diubah**

In [ ]:
angka = (1, 2, 3)
angka[2] = 5

TypeError: 'tuple' object does not support item assignment

3. **Dictionary Dasar**

In [ ]:
buku = {
    "Judul" : "Algoritma",
    "penulis" : "Munir",
    "Tahun" : "2021"
}

print("Judul:", buku["Judul"])
print("penulis:", buku["penulis"])
print("Tahun:", buku["Tahun"])

Judul: Algoritma
penulis: Munir
Tahun: 2021

4. **Operasi Dictionary**

In [16]:
Data_dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}
Data_dosen["umur"] = 40
Data_dosen["Prodi"] = "Teknologi Rekaysa Komputer"
del Data_dosen["umur"]
print(Data_dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknologi Rekaysa Komputer'}

5. **Set dan Himpunan**

In [18]:
A = {"matematika", "algoritma", "bahasa inggris"}
B = {"algoritma", "basis data", "matematika"}

print("unuion",  A | B)
print("intersection:", A & B)
print("diffrence", A - B)

unuion {'algoritma', 'matematika', 'bahasa inggris', 'basis data'}
intersection: {'algoritma', 'matematika'}
diffrence {'bahasa inggris'}

6. **Studi Kasus Dictionary**

In [19]:
nilai_mahasiswa = {
    "andi" : 85,
    "budi" : 90,
    "cici" : 78
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"rata-rata nilai: {rata:.2f}")

andi: 85
budi: 90
cici: 78
rata-rata nilai: 84.33

7. **Studi Kasus Set – Klub Mahasiswa**

In [20]:
A = {"ANDI", "BUDI", "CICI"}
B = {"CICI", "DENI", "EKA"}

print("unuion",  A | B)
print("intersection:", A & B)
print("diffrence", A - B)

unuion {'CICI', 'EKA', 'DENI', 'ANDI', 'BUDI'}
intersection: {'CICI'}
diffrence {'ANDI', 'BUDI'}