<a href="https://colab.research.google.com/github/Adriandzidan/Tugas-Pak-Prayit-ALPRO-/blob/main/Jobsheet06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HASIL PRAKTIKUM**

1. **Membuat dan Mengakses List 1D**

In [ ]:
mahasiswa = ["ANDI", "BUDI", "CICI"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

ANDI
BUDI
CICI

2. **Update & Operasi Dasar List**

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print (nilai)

[85, 95, 100]

3. **Slicing List**

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])	# [85, 90, 78]
print(nilai[2:])	# [78, 92, 88]
print(nilai[:3])	# [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

4. **List 2D (Matriks)**

In [ ]:
matriks = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print (matriks[0][0])
print (matriks[1] [2])
print (matriks[2])

1
6
[7, 8, 9]

5. **Operasi pada List 2D**

In [ ]:
A = [[1,2,3],[4,5,6]]
B = [[7,8,9],[10,11,12]]
C = []
for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
    C.append(baris)
print (C)

[[8, 10, 12], [8, 10, 12], [8, 10, 12], [14, 16, 18], [14, 16, 18], [14, 16, 18]]

6. **Studi Kasus: Pengelolaan Nilai Mahasiswa**

In [ ]:
nilai = [
   [80,90,85],
    [70,75,80],
   [88,92,84]
]

for i, baris	in enumerate(nilai, start=1):
	rata = sum(baris) / len(baris)
	print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **PENUGASAN**

1. **Akses Elemen List**

In [ ]:
mahasiswa = ["ANDI", "BUDI", "CICI", "SIREGAR", "DUDI", "DUMBO"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])
print(mahasiswa[3])
print(mahasiswa[4])
print(mahasiswa[-1])

ANDI
BUDI
CICI
SIREGAR
DUDI
DUMBO

2. **Operasi Pada List**

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print (nilai)

[85, 80, 90]

3. **Slicing List**

In [ ]:
nilai = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nilai[0:3])
print(nilai[6:10])
print(nilai[::2])

[1, 2, 3]
[7, 8, 9, 10]
[1, 3, 5, 7, 9]

4. **List 2D â€“ Matriks**

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print (matriks[0][1])
print (matriks[1] [2])
print (matriks[0])

2
6
[1, 2, 3]

5. **Operasi Matriks 2D**

In [ ]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

C = []
for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print("Hasil Penjumlahan A + B:")
for row in C:
    print(row)

Hasil Penjumlahan A + B:
[6, 8]
[10, 12]

6. **Rata-rata Nilai Mahasiswa**

In [ ]:
nilai = [
   [75, 80, 85],
    [60, 70, 65],
   [90, 95, 92]
]

for i, baris	in enumerate(nilai, start=1):
	rata = sum(baris) / len(baris)
	print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

7.	**Studi Kasus â€“ Data Toko**

In [ ]:
stok = [
    ["buku: ", 20]
    ["pensil: ", 35]
    ["penghapus: ", 15]
]

for i barisan in  enumerate

In [ ]:
stok = [
    ["buku", 20],
    ["penghapus", 15],
    ["pulpen", 50],
]

print("Daftar Barang dan Stok:")
for item, jumlah in stok:
    print(f"{item}: {jumlah}")

stok_terbanyak = 0
barang_terbanyak = ""

for item, jumlah in stok:
    if jumlah > stok_terbanyak:
        stok_terbanyak = jumlah
        barang_terbanyak = item

print(f"\nBarang dengan stok terbanyak adalah {barang_terbanyak} dengan jumlah {stok_terbanyak}.")

Daftar Barang dan Stok:
buku: 20
penghapus: 15
pulpen: 50

Barang dengan stok terbanyak adalah pulpen dengan jumlah 50.