<a href="https://colab.research.google.com/github/Adriandzidan/Tugas-Pak-Prayit-ALPRO-/blob/main/Jobsheet03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HASIL PRAKTIKUM**

**1. If Sederhana**

In [ ]:
nilai = int(input("masukkan nilai ujian:" ))
if nilai >= 60:
    print("Anda LULUS")

masukkan nilai ujian:70
Anda LULUS

**2. If-Else**

In [ ]:
nilai = int(input("masukkan nilai ujian: "))
if nilai >= 60:
  print ("anda lulus")
else:
  print ("anda tidak lulus")

masukkan nilai ujian: 50
anda tidak lulus

**3. If Elif Else**

In [ ]:
nilai = int(input("masukkan nilai akhir: "))

if nilai >= 90:
  grade = "A"
elif nilai >= 80:
  grade = "B"
elif nilai >= 70:
  grade = "C"
elif nilai >= 60:
  grade = "D"
else:
  grade = "E"
print(f"nilai anda {nilai}, maka grade anda = {grade}")

masukkan nilai akhir: 78
nilai anda 78, maka grade anda = C

**4. Nested If**

In [ ]:
ipk = float(input("Masukkan IPK: "))
sks = int(input("Masukkan jumlah SKS: "))

if ipk >= 3.0:
  if sks >= 18:
		  print("Anda LAYAK mendapat beasiswa")
  else:
      print("IPK memenuhi, tapi SKS kurang")
else:
  print("Anda TIDAK layak mendapat beasiswa")

Masukkan IPK: 2.8
Masukkan jumlah SKS: 20
Anda TIDAK layak mendapat beasiswa

**5. Match Case**

In [ ]:
menu = int(input("pilih menu (1-3): "))

match menu:
  case 1:
    print("anda memilih menu nasi goreng")
  case 2:
    print("anda memilih menu mie ayam")
  case 3:
    print("anda memilih menu soto ayam")
  case _:
    print("menu tidak tersedia")

pilih menu (1-3): 9
menu tidak tersedia

**6. Program kasir**

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

if total>= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Barang: {barang}")
print(f"Harga: {harga}")
print(f"Jumlah: {jumlah}")
print(f"Total: {total}")
print(f"Diskon: {diskon * 100}%")
print(f"bayar : Rp {bayar}")

Masukkan nama barang: pulpen
Masukkan harga barang: 5000
Masukkan jumlah barang: 10

===== Struk Belanja =====
Barang: pulpen
Harga: 5000.0
Jumlah: 10
Total: 50000.0
Diskon: 0%
bayar : Rp 50000.0

# **PENUGASAN**

**1.Cek Bilangan Positif/Negatif/Nol**

In [ ]:
bilangan = int(input("Masukkan bilangan: "))

if bilangan >= 1:
  print("Bilangan Positif")
elif bilangan == 0:
  print("Bilangan Nol")
else:
  print("Bilangan Negatif")

Masukkan bilangan: -1
Bilangan Negatif

**2. Menentukan Kategori Usia**

In [ ]:
usia = int(input("masukkan usia: "))

if usia <= 5:
  kategori = "balita"
elif 5 <= usia <= 11:
  kategori = "anak-anak"
elif 12 <= umur <= 17:
  kategori = "remaja"
elif 18 <= umur <= 59:
  kategori = "dewasa"
else:
  kategori = "lansia"
print(f"usia anda {usia}, maka kategori usia anda = {kategori}")

masukkan usia: 2
usia anda 2, maka kategori usia anda = balita

**3. Hitung tarif parkir**

In [ ]:
jam_parkir = int(input("Masukkan lama parkir (dalam jam): "))

if jam_parkir <= 2:
    tarif = 5000
elif jam_parkir > 2:
    tarif = 5000 + (jam_parkir - 2) * 2000

if tarif > 20000:
    tarif = 20000

print(f"Lama parkir: {jam_parkir} jam")
print(f"Tarif parkir: Rp {tarif}")

**4. cek login sederhana**

In [5]:
Username = input("masukkan username anda: ")
sandi = int(input("masukkan sandi anda: "))

if sandi == 12344:
  print("login berhasil")
else:
  print("login gagal")

masukkan username anda: kok
masukkan sandi anda: 12344
login berhasil

**4.	One-Liner If (Cek Genap/Ganjil)**

In [6]:
bilangan = int(input("Masukkan sebuah angka: "))

if bilangan % 2 == 0:
  print("Bilangan genap")
else:
  print("Bilangan ganjil")

Masukkan sebuah angka: 10
Bilangan genap

**5.Menu Restoran dengan Match-Case**

In [7]:
menu = int(input("pilih menu (1-3): "))

match menu:
  case 1:
    print("anda memilih menu nasi goreng")
  case 2:
    print("anda memilih menu mie ayam")
  case 3:
    print("anda memilih menu soto ayam")
  case _:
    print("menu tidak tersedia")

pilih menu (1-3): 6
menu tidak tersedia

**6.Studi Kasus Nyata â€“ Program Penentuan Diskon**

In [8]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

if total>= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Barang: {barang}")
print(f"Harga: {harga}")
print(f"Jumlah: {jumlah}")
print(f"Total: {total}")
print(f"Diskon: {diskon * 100}%")
print(f"bayar : Rp {bayar}")

Masukkan nama barang: ROSEBRAND
Masukkan harga barang: 23000
Masukkan jumlah barang: 10

===== Struk Belanja =====
Barang: ROSEBRAND
Harga: 23000.0
Jumlah: 10
Total: 230000.0
Diskon: 0%
bayar : Rp 230000.0